[submodule "linux"]
	path = linux
	url = https://github.com/raspberrypi/linux.git
[submodule "tools"]
	path = tools
	url = https://github.com/raspberrypi/tools
[submodule "tw-joystick"]
	path = tw-joystick
	url = https://github.com/coney/tw-joystick.git
